
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f8f9fa;
    background-image: ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #E2E2B6;
    border-top: 5px solid #021526;
    border-bottom: 5px solid #021526;
}

.header img {
    max-height: 70px;
    display: block;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}

.nav li a {
    text-decoration: none;
    color: #021526;
    font-weight: bold;
    transition: color 0.3s ease;
    text-transform: capitalize;
}

.nav li a:hover {
    color: #6EACDA;
    cursor: pointer;
    }

#hero {
    color: white;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/security_pozadina.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hero .hero-sastav {
    position: relative; 
}

#hero h1 {
    margin-bottom: 20px;
    font-size: 48px;
    color:#E2E2B6;
}

#hero p {
    margin-bottom: 20px;
    font-size: 24px;
    color:#E2E2B6;
}

#ispod-prve-slike {
    background-color: #021526;
    padding: 40px 20px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 5px solid #E2E2B6;
    border-left: 5px solid #E2E2B6;
    border-right: 5px solid #E2E2B6;
}

#ispod-prve-slike .ispod-prve-slike-sastav {
    max-width: 1000px;
    margin: 0 auto;
}

#ispod-prve-slike h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #E2E2B6;
}

#ispod-prve-slike p {
    font-size: 18px;
    line-height: 1.6;
    color: #E2E2B6;
    margin-bottom: 20px;
}

#levotext-desnoslika-blok {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #021526;
    border-left: 5px solid #E2E2B6;
    border-right: 5px solid #E2E2B6;
    border-bottom: 5px solid #E2E2B6;
}

#text-levo {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.mali-blok {
    border-radius: 8px;
    background-color: #6EACDA;
    margin-bottom: 20px;
    padding: 20px;
}

.mali-blok h2 {
    color:#E2E2B6;
    font-size: 24px;
    margin-bottom: 10px;
}

.mali-blok p {
    color:#E2E2B6;
    font-size: 16px;
    line-height: 1.5;
}

#slika-desno {
    width: 45%;
}

#slika-desno img {
    width: 90%;
    height: 100%;
    border-radius: 8px;
    padding-left:110px;
}

.druga-slika {
    position:relative;
    width: 100%;
    height: 1100px;
    background-image: url("images/kamere.jpeg");
    background-size: cover;
    background-position: center;
    
}

.druga-slika h3 {
    font-family: "Teko", sans-serif;
    position: absolute;
    top: 70%;
    left: 60%;
    color: #E2E2B6;
    font-size: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.drzac{

}

#tri-sa-tri {
    width: 80%;
    margin: 50px auto;
}

.tri-sa-tri-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.tri-sa-tri-grid li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tri-sa-tri-grid li:hover {
    transform: translateY(-5px);
}

.tri-sa-tri-grid li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 20px;
}

.tri-sa-tri-grid li h4 {
    font-size: 20px;
    margin-bottom: 15px;
    color: 6EACDA;
    display: inline-block;
}

.tri-sa-tri-grid li p {
    font-size: 18px;
    color: #555;
}

.oznaka-grid{
    display:inline-block;
}

.zadnji-blok {
    width: 80%;
    margin: 20px;
    margin-left: 186px;
    background-color: #03346E;
    border-radius: 8px;
    padding: 20px;
    border: 5px solid #E2E2B6;
}

.zadnji-blok-sadrzaj {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zadnji-blok-slika {
    width: 50% ;
    height: 450px;
    border:5px solid #E2E2B6;
}

.zadnji-blok-pasus {
    width: 40%; 
}

.zadnji-blok-pasus p {
    font-size: 20px;
    color: #E2E2B6;
    padding-bottom:25px;
    padding-right:30px;
}

footer {
    background-color: #E2E2B6;
    color: #021526;
    padding: 20px 0px;
    border-top: 5px solid #021526;
}

.footer-blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer-logo .logori {
    width: 150px;
    height: auto;
}

.footer-kontakti {
    text-align: right;
}

.footer-kontakti ul {
    list-style: none; 
    padding: 0;
}

.footer-kontakti li {
    margin-left:600px;
    margin-bottom: 10px;
    font-size: 19px;
    color:#021526;
}

.footer-kontakti h5 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #021526;;
}

.footer-kontakti li a{
    text-decoration: none;
    color: black;
}
.footer-kontakti li a:hover{
    text-decoration: solid;
    color: #03346E;
}

.footer-kontakti a {
  text-decoration: none;
}

.onama {
    background-color: #03346E;
    padding: 50px 20px;
}

.onama-sadrzaj {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #021526;
    background-color: #6EACDA;
}

.onama-slike {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    margin-left:142px;
    margin-top:20px;
}

.onama-slike img {
    width: 80%;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.onama-slike img:hover {
    transform: scale(1.05);
}

.onama-text {
    max-width: 800px;
    margin-bottom: 40px;
    text-align: center;
    background-color: #E2E2B6;
    border: 5px solid #021526;
}

.onama-text h2 {
    font-size: 2.9rem;
    margin-bottom: 20px;
    color: #333;
}

.onama-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    }

.zgrade-slika {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #021526;
}

.ponuda-sadrzaj {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #03346E;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ponuda {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ponuda:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.ponuda h2 {
    color: #333;
    font-size: 29px;
    margin-bottom: 15px;
}

.ponuda p {
    color: #666;
    font-size: 16 px;
    line-height: 1.6;
}

.ponuda img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}

#obavestenje {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
}

#obavestenje h3{
    font-size: 32px;
    color: #021526;
}

#header-uponudi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    text-align: center;
}

#header-uponudi h1 {
    font-size: 42px;
    color: #021526;
}

.kontakt-img {
    width: 100%;
    overflow: hidden;
    border-bottom: 5px solid #021526;
}

.kontakt-img img {
    width: 100%;
    height: auto;
}

.kontakt-form {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.kontakt-form h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.kontakt-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.kontakt-form label {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.kontakt-form input,
.kontakt-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #021526;
    border-radius: 4px;
}

.kontakt-form button {
    padding: 10px 20px;
    background-color: #021526;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.kontakt-form button:hover {
    background-color: #555;
}

.galerija {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right:20px;
    margin-left:20px;
}

.galerija-sadrzaj {
    width: 500px;
    height: 500px;
    border: 3px solid #021526;
    background-color: white;
    border-radius: 8px;
}

.galerija-sadrzaj img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#galerija {
    background-color: #6EACDA;
}

#uponudi {
    background-color: #6EACDA;
}

.naslov-bio {
    background-color: #E2E2B6;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #021526;
}

.naslov-bio h1{
    color: #021526;
    font-size: 40px;
}

.bio {
    margin-top: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.sekcija {
    margin-bottom: 30px;
}

.sekcija h3{
    font-size: 28px;
    color: #021526;
    margin-bottom: 10px;
}

.bio-stavke {
    list-style-type: none;
    padding: 0;
}

.bio-stavke li{
    margin-bottom: 8px;
}

.bio-stavke li strong{
    color: #021526;
}

#slika-autor {
    
   
}